@font-face {
    font-family: Alex;
    src: url(../fonts/Alex.ttf);
}
body {font-family: Alex;}

/* start of global */
ul{list-style: none;padding-inline-start: 0;}
/* end of global */

/* start of scrollbar */
::-webkit-scrollbar {width: 13px;}  
::-webkit-scrollbar-track {border-radius: 10px;}
::-webkit-scrollbar-thumb { background: linear-gradient(to top, #04b1f5, #e7f0f3); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
/* end of scrollbar style */

/* start of navbar */
.navbar-brand span{font-size: 30px;}
.navbar-brand span:first-child{color: #08526d;}
.navbar-brand span:last-child{color: #ec1c23;}
.navbar-nav .nav-link {color: #08526d; margin: 0 0px;}
.navbar-nav .nav-link{font-size: 16px; text-transform: uppercase;}
.navbar-nav .nav-link:hover{color: #ec1c23;font-weight: bold;}
.navbar-nav .nav-link.active{color: #ec1c23;border-bottom: 2px solid #ec1c23; font-weight: bold;}

.navbar-brand {color: #08526d;}
@media (max-width: 992px){
    .navbar-nav .nav-link,
    .navbar-nav .nav-link.active{border-bottom: none; margin: 0;}
    .navbar-nav .nav-link:hover{border-bottom: none;}
}

.animated-icon2 {
    width: 30px;
    height: 25px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon2 span {background: #08526d;}

.animated-icon2 span:nth-child(1) {top: 0px;}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {top: 10px;}

.animated-icon2 span:nth-child(4) {top: 20px;}

.animated-icon2.open span:nth-child(1) {top: 11px; width: 0%; left: 50%;}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {top: 11px; width: 0%; left: 50%;}
/* end of navbar */

/* start of header slider */
.slider{background: #ddd;}
.slider .carousel-inner{display: flex; align-items: center; justify-content: left;}
.slider .carousel-inner h1{
    position: absolute; 
    font-size: 70px; 
    color: #fff;
    z-index: 3; 
    max-width: 900px; 
    line-height: 1.3;
    left: 100px;
}
.slider .carousel-inner h1 span{padding: 10px 5px 0 5px; background: #ec1c23;}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}
.carousel-indicators li{height: 8px;}
.slider .carousel-item{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
@media(max-width: 768px){
    .slider .carousel-inner h1{left: auto; text-align: center;font-size: 40px;max-width: 100%;}
}
@media(max-width: 992px){
    .slider .carousel-inner h1{font-size: 50px;}
}
.slider .carousel-one{background-image: url("../img/slider3.jpg");}
.slider .carousel-two{background-image: url("../img/slider2.jpg");}
.slider .carousel-three{background-image: url("../img/slider1.jpg");}
/* end of header slider */

/* start of why-me */
.why-me{padding: 50px 0;}
.why-me h2{font-size: 40px;margin-bottom: 50px;}
@media(max-width: 992px){
    .why-me h2{font-size: 25px;margin-bottom: 20px;}
}
.why-me i{background-color: #08526d; color: #fff;padding: 12px;margin-bottom: 10px;}
.why-me h3{color: #ec1c23; font-size: 24px;}
.why-me p{color: #797878; margin-bottom: 40px;}
/* end of why-me */

/* start of resume */
.resume{padding: 40px; background-color: #f0f5f7;clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);}
.resume h2{font-size: 40px; margin-bottom: 20px;}
.resume p{font-size: 20px;color: #6a6a6a;width: 80%; margin: 0 auto 40px; letter-spacing: 2px;}
.resume button{background: #ec1c23; color: #fff; padding: 10px 20px; font-size: 20px; border: 1px #ec1c23;}
@media(max-width: 992px){
    .resume p{width: 100%; letter-spacing: 1px;}
    .resume h2{font-size: 25px;margin-bottom: 15px;}
}
@media(max-width: 870px){
    .resume{clip-path: none;}
}
/* end of resume */

/* start of portfolio */
.portfolio{padding: 50px 0;}
.portfolio h2{font-size: 40px; margin-bottom: 20px;}
.portfolio .card{margin-bottom: 20px;}
.portfolio h4{font-size: 20px; color: #6a6a6a; width: 80%; margin: 0 auto 40px; letter-spacing: 2px;}
.portfolio .card .card-title{color: #0c1113;}
.portfolio .card .card-text{color: #797878;}
.portfolio .card .card-link, .portfolio .card-link:hover{color: #08526d;}
/* end of portfolio */

/* start of contact me */
.contact-me{padding: 30px 0 40px 0; background-color: #f0f5f7; color: #6a6a6a; letter-spacing: 2px; font-size: 25px;clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);}
.contact-me span{color: #08526d; border: 1px solid #08526d; padding: 5px 10px;}
.contact-me span:hover{text-decoration: none;cursor: pointer;}
/* start of contact me model */
.modal-body{padding: 0;}
.forms{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f5f7;
    color: #6a6a6a;
}
.card-header:first-child {background: #08526d;color: #fff;}
.form-control {background-color: #fff;border: 1px solid #ddd;}
.btn-outline-info {color: #08526d;border-color: #08526d;}
.btn-outline-info:hover{color: #fff; background: #08526d; border: 1px solid #08526d;}
/* end of contact me model */
@media(max-width: 768px){
    .contact-me p{margin-bottom: 20px;}
    .contact-me{clip-path: none;}
}
/* start of contact me */

/* start of footer */
.footer{padding: 60px 0;}
.footer .info h2{font-size: 30px;}
.footer .info h2 span:first-child{color: #08526d;}
.footer .info h2 span:last-child{color: #ec1c23;}
.footer .info p,ul{color: #6a6a6a;}
.footer .contact h2, .footer .links h2{font-size: 22px;}
.footer .links ul li:first-child::before{content: "";}
.footer .links ul li::before, .footer .contact ul li::before{content: '\f054';font-family: 'Font Awesome 5 Pro'; margin-right: 5px;color: #08526d; font-size: 12px;}
.footer .links ul a, .footer .contact ul a{color: #08526d;}
.footer .links ul a:hover, .footer .contact ul a:hover{color: #08526d;}
.footer .contact ul a:last-of-type{text-transform: none;}
@media(max-width: 992px){
    .footer .info p{margin-bottom: 15px;}
}
/* end of footer */

/* start of copyright */
.copyright{border-top: 1px solid #ddd; background: #f0f5f7; padding: 20px;}
.copyright ul,p{margin: 0;}
.copyright p{color: #08526d;}
.copyright ul li{display: inline-block; margin-left: 20px; font-size: 20px;}
.copyright ul li a{color: #08526d;}
/* end of copyright */

/* start of scroll to top button */
#button {
    display: inline-block;
    background-color: #ec1c23;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -moz-transition: background-color .3s, opacity .5s, visibility .5s;
    -ms-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
}
#button::after {content: "\f077";font-family: 'Font Awesome 5 Pro';font-size: 2em;line-height: 50px;color: #fff;}
#button:hover {cursor: pointer;background-color: #08526d;}
#button:active {background-color: #08526d;}
#button.show {opacity: 1;visibility: visible;}
/* end of scroll to top button */

/* style for the header of modals */
.modal-header {padding: .2rem 1rem;}
/* end of style for the header of modals */