.navbar-light .navbar-nav .nav-link {color: white; margin: 0 0px; text-transform: capitalize;}

.navbar-light .navbar-nav .nav-link:hover{text-decoration: none; color: #7bff00;}
.navbar-light .navbar-nav .nav-link.active{color: #7bff00;border-bottom: 2px solid #7bff00;}
.navbar-light .navbar-nav .nav-link i{padding-right: 7px;}

.navbar-light .navbar-brand {color: white;text-transform: uppercase;}

@media (max-width: 992px){
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link.active{border-bottom: none; margin: 0;}
    .navbar-light .navbar-nav .nav-link:hover{border-bottom: none;}
}

.animated-icon2 {
    width: 30px;
    height: 25px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon2 span {background: #e3f2fd;}

.animated-icon2 span:nth-child(1) {top: 0px;}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {top: 10px;}

.animated-icon2 span:nth-child(4) {top: 20px;}

.animated-icon2.open span:nth-child(1) {top: 11px; width: 0%; left: 50%;}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {top: 11px; width: 0%; left: 50%;}


.logo-header {
    background: linear-gradient(rgba(62, 63, 64, 0.6), rgba(62, 63, 64, 0.6)), url("/home/raid/Projects/portfolio/img/slider6.jpg");
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
}

.logo-header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0 auto 0.2em auto;
}

.logo-header p {
    font-size: 1.15rem;
    width: 80%;
    margin: 0 auto 2em auto;
}

.logo-header .logo {
    margin: 0 auto 1em auto;
}

.logo-header .btn {
    padding: 10px 26px;
    background-color: #313131;
    color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    border: solid 2px #313131;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.logo-header .btn:hover {
    color: #FFF;
    background-color: #1f69ff;
    border-color: #1f69ff;
}

@media (min-width: 992px) {
    .logo-header {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo-header h1 {
        font-size: 4rem;
    }

    .logo-header p {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .logo-header h1 {
        font-size: 2.4rem;
    }
}
